.background-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    background-size: cover;
    animation: slideShow 20s infinite;
  }
  
  @keyframes slideShow {
    0% {
      background-image: url('../../assets/Minecraft4K.jpg');
    }
    25% {
        background-image: url('../../assets/Mario4K.jpg');
    }
    50% {
      background-image: url('../../assets/Minecraft4K.jpg');
    }
    75% {
      background-image: url('../../assets/Megaman4K.jpg');
    }
    100% {
      background-image: url('../../assets/Minecraft4K.jpg');
    }
  }