.register-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Define um índice de camada para garantir que a imagem fique atrás de outros elementos */
  }
  